@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-bg text-text font-sans m-0 antialiased min-h-screen;
    @apply dark:bg-bg-dark dark:text-text-dark;
  }
  
  code {
    @apply font-mono bg-bg2 text-primary px-1.5 py-0.5 rounded-sm;
    @apply dark:bg-bg2-dark dark:text-primary-dark;
  }
}
